@import url("./common.css");
@import url(./font.css);

* {
  letter-spacing: -0.5px;
  font-weight: 500px;
}

.main01 {
  width: 100%;
  background-color: #dddddd;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Supporters_img/section01_img.jpg);
  height: 1080px;
}

.main02 {
  // position: relative;
  background-color: #d1ceb3;
  width: 100%;
  height: 488px;

  .container02 {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    height: 100%;

    .flexbox01 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .flexbox02 {
        display: flex;
        flex-direction: column;

        .textbox04 {
          p {
            font-size: 30px;
            line-height: 1.2;

            span {
              font-size: 30px;
              font-weight: bold;
            }
          }
        }

        .textbox05 {
          margin: 0 auto;
        }
      }

      .imgbox01 {
        display: flex;
        align-items: center;

        .ani01 {
          width: 458px;
          padding: 20px;

          img {
            width: 100%;
            padding: 20px;
          }
        }
      }
    }
  }
}

.main03 {
  width: 100%;
  height: 316px;
  background-color: #f9f2ea;

  // position: absolute;
  .container03 {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    p:nth-of-type(1) {
      width: 50%;
      font-size: 30px;
      line-height: 2;
    }

    p:nth-of-type(2) {
      letter-spacing: -1px;
      line-height: 2;
    }
  }
}

.main04 {
  position: relative;
  width: 100%;
  background-color: #f9f2ea;

  .line01 {
    border: solid 1px #000;
    width: 1200px;
    margin: 0 auto;
  }

  .container04 {
    max-width: 1200px;
    margin: 0 auto;
  }

  .flexbox03 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    p {
      width: 50%;
      height: 380px;

      span:nth-of-type(2) {
        font-size: 36px;
      }

      span:nth-of-type(3) {
        font-size: 36px;
      }

      span:nth-of-type(4) {
        line-height: 2;
      }

      span:nth-of-type(5) {
        line-height: 2;
      }
    }
  }

  .imgbox02 {
    width: 50%;

    img {
      height: 380px;
      width: 100%;
    }
  }

  .flexbox04 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 80px 0;

    p {
      width: 50%;
      span:nth-of-type(1) {
        font-size: 22px;
      }
      span:nth-of-type(2) {
        font-size: 16px;
      }
      span:nth-of-type(3) {
        font-size: 16px;
      }
      span:nth-of-type(4) {
        font-size: 16px;
      }
    }

    .imgbox03 {
      width: 50%;
      display: flex;
      img {
        height: 436px;
      }
    }
  }
}
.main05 {
  width: 100%;
  background-color: #f9f2ea;
  margin: 0 auto;
  .line02 {
    border: solid 1px #000;
    width: 1200px;
    margin: 0 auto;
  }
  .flexbox05 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 80px 0;
    .flexbox06 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 545px;
        p:nth-of-type(1) {
        span:nth-of-type(2) {
          font-size: 36px;
        }
        span:nth-of-type(3) {
          font-size: 36px;
        }
        span:nth-of-type(4) {
          font-size: 36px;
        }
      }
    }
    .imgbox04 {
      height: auto;
      img {
        width: 458px;
        height: 545px;
      }
    }
  }
  .flexbox08{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 80px;
    .textbox07{
        line-height: 2;
    }
  }
}
.main06 {
    height: 974px;
    width: 100%;
    background-color: #f9f2ea;
    margin: 0 auto;
    .line03{
      border: solid 1px #000;
      width: 1200px;
      margin: 0 auto;
    }
    .flexbox09 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      max-width: 1200px;
      padding: 80px 0;
      .textbox08 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 545px;
      }
      .imgbox06 {
        height: auto;
        img {
          width: 458px;
          height: 545px;
        }
      }

    }
    .dots{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        span{
            border: solid 3px #fff;
            border-radius: 30px;

        }
    }

  }