@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Pretendard";
}
html,
body {
  margin: 0 auto;
  font-size: 16px;
  font-family: "Pretendard", "Noto Sans SC", "Noto Sans KR", Dotum, 돋움,
    Helvetica, "Apple SD Gothic Neo", sans-serif, "Montserrat";
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul img,
li img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
::after,
::before {
  display: inline-block;
}
header {
  width: 100%;
  height: 20%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  // padding: 30px;
  margin: 0 auto;
  .header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 10;
    .header-left {
      width: 10%;
      img {
        width: 100%;
      }
    }
    .header-right {
      width: 10%;
      font-size: 20px;
      font-family: "Pretendard";

      img {
        width: 50%;
      }
    }
    .menu {
      position: fixed;
      background-color: #1a1a1a8f;
      top: 0;
      right: 0;
      bottom: 0;
      transition: 1s;
      width: 300px;
      right: -360px;
      line-height: 13.8;
      margin-left: 30px;
      img {
        width: 40px;
        height: 40px;
      }

      ul {
        font-size: 22px;
        font-weight: bold;
        line-height: 3.8;

        a {
          color: rgb(222, 222, 222);
          font-family: "Pretendard";
          font-weight: bold;
          margin-left: 30px;
        }
      }
      &.fade {
        transition: 1s;
        transform: translateX(-360px);
      }
    }
  }
}
