@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
main {
  width: 100%;
  position: fixed;
  transition: 1s;
  background-color: #000;
}
main .menu {
  width: 15%;
  height: 100%;
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  display: none;
}
main .menu a img {
  padding: 20px;
  cursor: pointer;
  width: 85%;
}
main .menu li a {
  padding: 20px;
  font-size: 26px;
  font-family: "Do hyeon";
  font-weight: bold;
}
main .first-banner {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  line-height: 2.3;
  position: relative;
  z-index: -1;
}
main .first-banner.fadeout {
  opacity: 0;
  transition: 1s;
}
main .first-banner video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .first-banner .first-box {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -20%);
  left: 50%;
  top: 50%;
}
main .first-banner .first-box span {
  font-size: 100px;
  font-weight: bold;
  font-family: "Do hyeon";
  color: #e9ffe5;
}
main .first-banner .first-box p {
  font-size: 40px;
  font-family: "Nanum Gothic Coding";
  color: #e9ffe5;
}
main .first-banner .first-box .btn {
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Nanum Gothic Coding";
  margin-top: 50px;
  border-radius: 25px;
  background: #e9ffe5;
  color: #000;
  margin: 0 auto;
}
main .first-banner .first-box img {
  width: 40px;
}
main .first-banner .first-box .first-box-loop {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: space-around;
  -webkit-animation: bannermove 10s linear infinite;
          animation: bannermove 10s linear infinite;
}
main .first-banner .first-box .first-box-loop img {
  width: 2%;
}
@-webkit-keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
main .second-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "Do hyeon";
  color: #000;
  background-color: #d2d79f;
}
main .second-banner.fadeout {
  opacity: 0;
  transition: 1s;
}
main .second-banner .second-box {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .second-banner .second-box span {
  font-size: 100px;
  font-weight: bold;
  font-family: "Do hyeon";
}
main .second-banner .second-box .circle-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
main .second-banner .second-box .circle-box p {
  margin-top: 160px;
  font-size: 50px;
  font-weight: lighter;
  font-family: "Nanum Gothic Coding";
}
main .second-banner .second-box .circle-box .circle-left {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .second-banner .second-box .circle-box .circle-right {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .third-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "Do hyeon";
  color: #000;
  background-color: #90b77d;
}
main .third-banner.fadeout {
  opacity: 0;
  transition: 0.5s;
}
main .third-banner .third-box {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .third-banner .third-box span {
  font-size: 100px;
  font-weight: bold;
  font-family: "Do hyeon";
}
main .third-banner .third-box .circle-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
main .third-banner .third-box .circle-box p {
  margin-top: 160px;
  font-size: 50px;
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
}
main .third-banner .third-box .circle-box .circle-left {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .third-banner .third-box .circle-box .circle-right {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .fourth-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  font-family: "Do hyeon";
  color: #000;
  background-color: #42855b;
}
main .fourth-banner .fourth-box {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .fourth-banner .fourth-box span {
  font-size: 100px;
  font-weight: bold;
  font-family: "Do hyeon";
}
main .fourth-banner .fourth-box .circle-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
main .fourth-banner .fourth-box .circle-box p {
  margin-top: 160px;
  font-size: 50px;
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
}
main .fourth-banner .fourth-box .circle-box .circle-left {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .fourth-banner .fourth-box .circle-box .circle-right {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}
main .fourth-banner .fourth-box .popup {
  max-width: 1200px;
  width: 30%;
  position: absolute;
  background-color: #e8eaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Gothic Coding";
  font-weight: lighter;
  border-radius: 10%;
  display: none;
}
main .fourth-banner .fourth-box .popup h4 {
  font-size: 36px;
  font-family: "Do hyeon";
}
main .fourth-banner .fourth-box .popup img {
  width: 30%;
}/*# sourceMappingURL=index.css.map */