@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
main {
  width: 100%;
  position: fixed;
  transition: 1s;
  background-color: #fff;

  a img {
    padding: 20px;
    cursor: pointer;
    width: 85%;
  } //얘는 X이미지 , 폰트
  li a {
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
  }
}
.first-banner {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  line-height: 2.5;
  position: relative;
  z-index: -1;
  &.fadeout {
    opacity: 0;
    transition: 1s;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .first-box {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -20%);
    left: 50%;
    top: 35%;

    span {
      font-size: 100px;
      font-weight: bold;
      color: #ebebeb;
      letter-spacing: 20px; //글자 자간
    }
    p {
      font-size: 40px;
      color: #ebebeb;
    }
    .btn {
      width: 150px;
      height: 50px;
      font-size: 24px;
      font-weight: bold;
      border-radius: 25px;
      background: transparent;
      margin: 0 auto;
      cursor: pointer;
      color: #ebebeb;
      &:active {
        background-color: #161616;
        color: #ebebeb;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ebebeb;
      }
    }
    img {
      width: 40px;
    }
  }
  .first-box-loop {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    animation: bannermove 50s linear infinite;
    img {
      width: 4%;
    }
    @keyframes bannermove {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
    }
  }
} //first-banner===========================================
.second-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: #161616;
  background-color: #ebebeb;
  &.fadeout {
    opacity: 0;
    transition: 1s;
  }
  .second-box {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    span {
      font-size: 100px;
      font-weight: bold;
    }
    .circle-box {
      width: 50%;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 50px;
        font-weight: lighter;
      }
      .circle-left {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
      .circle-right {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
    }
  }
}
.third-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: #ebebeb;
  background-color: #161616;
  &.fadeout {
    opacity: 0;
    transition: 0.5s;
  }
  .third-box {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    span {
      font-size: 100px;
      font-weight: bold;
    }
    .circle-box {
      width: 50%;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 50px;
        font-weight: lighter;
      }
      .circle-left {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
      .circle-right {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
    }
  }
}
.fourth-banner {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: #161616;
  background-color: #ebebeb;
  &.black {
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
  }
  .fourth-box {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    span {
      font-size: 100px;
      font-weight: bold;
    }
    .circle-box {
      width: 50%;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 50px;
        font-weight: lighter;
      }
      .circle-left {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
      .circle-right {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        background-color: gray;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:active {
          background-color: #fff;
        }
      }
    }
    .popup {
      width: 600px;
      height: 600px;
      position: absolute;
      background-color: #ebebeb;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      font-size: 24px;
      font-weight: 100;
      border-radius: 15%;
      top: 80%;

      display: none;
      .btns {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: 50px;
        button {
          border-radius: 25px;
          box-shadow: 4px 4px 10px rgb(0 0 0 / 50%);
          border: none;
          color: #000;
          background: #ebebeb;
          font-size: 22px;
          a {
            color: #000;
          }
        }
      }

      .imgbox01 {
        /*  display: flex;
        justify-content: center;
        align-items: center; */

        h4 {
          font-size: 36px;
        }
        img {
          width: 30%;
        }
      }
      &.black {
        transition: 0.5s;
        display: flex;
      }
    }
    .swiper {
      width: 265px;
      height: 368px;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 20px;
      font-weight: lighter;
      color: #ebebeb;
    }
    .swiper-slide:nth-child(1n) {
      background-color: rgba(0, 0, 0);
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgba(32, 32, 32);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgba(66, 66, 66);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgba(100, 99, 99);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgba(161, 160, 160);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgba(173, 170, 170);
      color: #161616;
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgba(241, 241, 241);
      color: #161616;
    }
  }
}
footer {
  width: 100%;
  background-color: #161616;
  height: 10vh;
  bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: lighter;

  .copyright {
    color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@import "./index_media.scss";
